.track-container {
  display: flex;
  flex-direction: row;
  margin: 0.6em;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.track-container:hover {
  background-color: #ededed;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  font-size: 18px;
}

.track-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 18px;
  font-weight: 500;
  color: #aba5c3;
  width: 10px;
}

.image-container {
  border-radius: 10px;
}

.songName {
  font-weight: 500;
}

.content-container {
  position: relative;
  width: 1025px;
  padding: 0 0 1em;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 40px rgb(80 80 80 / 5%);
  /* left: 30px; */
}

.time-range-selector {
  display: flex;
}

.time-option {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  border: none;
  padding: 1em;
  display: inline-block;
  position: relative;
  font-size: 19px;
  color: grey;
}

button {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.time-option:focus {
  color: black;
}

.cover-photo {
  background-image: url('./images/toptracks2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: 55vh;
  opacity: 0.9;
}

.header-container {
  position: relative;
  z-index: 2;
  margin-top: -1.5em;
  top: -0.25em;
  padding-bottom: 0;
  color: white;
  left: 0.75em;
  font-size: 41px;
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 0 30px rgb(0 0 0 / 5%);
  background-color: white;
  min-height: 100%;
  width: 120px;
  position: fixed;
}

.navbar-icons {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.icon-images {
  width: 35px;
  padding: 10px 0px;
}

#logo {
  width: 100px;
}

.home-page {
  background-color: rgb(249, 249, 249);
  display: flex;
}

.navbar-labels {
  text-decoration: none;
  font-size: 13px;
}
