.track-container {
  display: flex;
  flex-direction: row;
  margin: 0.6em;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.track-container:hover {
  background-color: #ededed;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  font-size: 18px;
}

.track-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 18px;
  font-weight: 500;
  color: #aba5c3;
}

.image-container {
  border-radius: 10px;
}

.songName {
  font-weight: 500;
}

.content-container {
  max-width: 1025px;
  padding: 0 0 1em;
  margin: 0 auto;
  background-color: lightgray;
}

.time-range-selector {
  display: flex;
}

.time-option {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  border: none;
  padding: 1em;
  display: inline-block;
  position: relative;
  font-size: 19px;
  color: grey;
}

button {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.time-option:focus {
  color: black;
}
